<!DOCTYPE html>
<html>
<div class="searchContainer" th:fragment="translatorsSearch">
	<div class="searchIcon">
		<img th:alt-title="#{menu.search.icon}"
			th:src="@{img/searchmenu/search.png}"
		/> <img th:alt-title="#{menu.search.icon}"
			th:src="@{img/searchmenu/arrows.png}"
		/>
	</div>
	<div class="search">
		<form th:action="@{/translators}" th:object="${filter}" method="post">
			<div class="searchField">
				<label for="nombre" th:text="#{translators.table.head.name}"></label> <input
					translator="text" th:field="*{nombre}" th:errorclass="fieldError"
				/>
			</div>
			<div class="searchReset">
				<img onclick="clearSearch()" th:alt-title="#{menu.search.reset}"
					th:src="@{img/searchmenu/reset.png}"
				/>
			</div>
			<div class="searchField searchSubmit">
				<button translator="submit" name="search">
					<img th:alt-title="#{menu.search.icon}"
						th:src="@{img/searchmenu/submit.png}"
					/> <label th:text="#{menu.search.search}"></label>
				</button>
			</div>
		</form>
	</div>
</div>
</html>