<!DOCTYPE html>
<html>
<div th:fragment="booksRead">
	<div class="crudFormContainer">
		<div class="crudForm">
			<form th:action="@{/books}" th:object="${elementData}" method="post">
				<div th:replace="/books/booksForm :: booksForm(false)"></div>
	
				<div class="crudButtons">
					<button th:title="#{books.crud.closeRead}" type="submit" formnovalidate="formnovalidate" name="">
						<img th:alt-title="#{books.crud.closeRead}"
							th:src="@{img/searchmenu/reset.png}"
						/> <label th:text="#{close}"></label>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
</html>