<!DOCTYPE html>
<html>
<div class="collectionsList" th:fragment="collectionsList">
	<div th:replace="/collections/collectionsMenu :: collectionsMenu"></div>
	<div class="dataTable"
		th:if="(${collectionsData} != null AND !${#lists.isEmpty(collectionsData)})"
	>
		<table>
			<thead>
				<tr>
					<th th:text="#{collections.table.head.name}"></th>
					<th th:text="#{collections.table.head.publisher}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="collectionData,dataStat : ${collectionsData}"
					onclick="setSelected(this)" th:id="'row_'+${dataStat.index}"
				>
					<td th:text="${collectionData.nombre}"
						th:title="${collectionData.nombre}"
					></td>
					<td
						th:text="${collectionData.editorial}!=null?${collectionData.editorial.nombre}:''"
						th:title="${collectionData.editorial}!=null?${collectionData.editorial.nombre}:''"
					></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="dataTable"
		th:if="(${collectionsData} == null OR ${#lists.isEmpty(collectionsData)})"
		th:text="#{collections.table.empty}"
	></div>
	<div
		th:if="(${collectionsData} != null AND !${#lists.isEmpty(collectionsData)})"
	>
		<div th:replace="/collections/collectionsMenu :: collectionsMenu"></div>
	</div>
	<div th:replace="/collections/collectionsSearch :: collectionsSearch"></div>
</div>
</html>