<!DOCTYPE html>
<html>
<div class="typesFormContainer" th:fragment="typesForm(editable)">

	<!-- formulario para los datos de los tipos -->
	<div class="booksForm">
		<!-- descripcion -->
		<div class="formField">
			<label for="descripcion" th:text="#{types.field.description}"></label>
			<input required="required" th:maxlength="#{TEXT_MAX_LENGHT}"
				class="bigTextFormField" th:disabled="!${editable}" type="text"
				th:field="*{descripcion}" th:errorclass="fieldError "
				th:title="${editable}?'':*{descripcion}"
			/>
		</div>
		<!--  lista de libros -->
		<div th:if="!${editable}" class="formField bigSearchFormField">
			<label for="typesBooks" th:text="#{types.crud.typesBooks}"></label> <select
				id="typesBooks" size="6" multiple="multiple" disabled="disabled"
			>
				<option th:each="book : ${typeBooks}" th:text="${book.titulo}"
					th:title="${book.titulo}"
				></option>
			</select>
		</div>
	</div>
</div>
</html>