<!DOCTYPE html>
<html>
<div class="menu" th:fragment="menu(selected)">
	<header>
		<nav>
			<ul>
				<li th:each="item,itemStat : ${menuItems}"><a
					th:href="@{${item.link}}"
				>
						<div th:class="((${itemStat.index}==${selected})?menuitemselected:menuitem)+' '+${itemStat.index}+' '+${selected}+' '+(${itemStat.index}==${itemStat.index})">
							<img th:alt-title="${item.text}" th:src="@{${item.img}}" /> <span
								th:text="${item.text}"
							></span>
						</div>
				</a></li>
			</ul>
		</nav>
	</header>
</div>
</html>d