<!DOCTYPE html>
<html>
<div th:fragment="authorsRead">
	<div class="crudFormContainer">
		<div class="crudForm">
			<form th:action="@{/authors}" th:object="${authorData}" method="post">
				<div th:replace="/authors/authorsForm :: authorsForm(false)"></div>
	
				<div class="crudButtons">
					<button th:title="#{authors.crud.closeRead}" type="submit" formnovalidate="formnovalidate" name="">
						<img th:alt-title="#{authors.crud.closeRead}"
							th:src="@{img/searchmenu/reset.png}"
						/> <label th:text="#{close}"></label>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
</html>